<!DOCTYPE HTML>
<html>
    <div id="box">
    <head><h1>Event Registration form</h1>
    </div>
    <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <div class="box">
        <body>
            <form>
            <br><br>
            Name <input type ="text" maxlength="50">
            <br><br>
            Company <input type="text">
            <br><br>
            Email <input type="email" placeholder="example@email.com" required>
            <br><br>
            Phone <input id="code" type="number">
            <input type="number">
            <br><br>
            Subject <select>
                <option value="S">Choose Option </option>
            </select>
            <br><br>
            Are you an existing customer ?
            <br><br>
            <input type="radio" value="Yes">Yes
            <input type="radio" value="No">No
            <br><br>
            <input id="button" type="submit" value="REGISTER">
            <br><br>
            </form>
    </body>
    </div>
</html>